<header>
  <ul class="nav-left">
    <li class="profile-photo">
      <a href="">
        <img src="https://cdn-icons-png.flaticon.com/512/3093/3093444.png" alt="" class="profile-photo">
      </a>
    </li>
    <li>Events</li>
    <li>Rescue</li>
    <li>Lost Animals</li>
  </ul>
  <ul class="nav-right">
    <li>login</li>
    <li>sign in</li>
    <li class="profile-photo">
      <a href="">
        <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="" class="profile-photo">
      </a>
    </li>
  </ul>
</header>
