.container {
  padding: 20px;
  margin: 0 40px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
}
.filter-group mat-form-field:nth-child(1),
.filter-group mat-form-field:nth-child(2) {
  width: 100px;
}

.filter-group mat-form-field {
  width: 200px;
}

.example-full-width {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

.filter-group mat-form-field:nth-child(2) {
  margin-right: 10px;
}

.example-button-row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.events-list {
  padding: 0 20px;
  margin: 0 40px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid layout */
  gap: 20px;
}

.event-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden; /* To make sure the image doesn't overflow the card */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
  display: flex;
  flex-direction: column;
}

.event-card:hover {
  transform: translateY(-10px); /* Lift card on hover */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the placeholder */
  object-position: center;
}

.event-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-details h3 {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.event-details p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.event-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-top: auto; /* Push the price to the bottom */
}


