<div class="choose-event">
  <div class="example-button-row">
    <button type="submit" mat-raised-button>General</button>
  </div>
  <div class="example-button-row">
    <button type="submit" mat-raised-button>Rescue</button>
  </div>
  <div class="example-button-row">
    <button type="submit" mat-raised-button>Lost Animals</button>
  </div>
</div>
<div class="form-container">
  <form [formGroup]="filterForm" (ngSubmit)="createEvent()" class="filter-form">
  <mat-card class="form-card">

    <div class="upper-part">
      <div class="image-upload-container" (click)="uploadImage()">
        <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
        <img *ngIf="imageUrl; else placeholder" [src]="imageUrl" class="uploaded-image"  alt=""/>
        <ng-template #placeholder>
          <div class="placeholder">
            <p>Click to upload</p>
          </div>
        </ng-template>
      </div>

      <div class="input-section">
        <mat-form-field class="example-full-width">
          <mat-label>Event name</mat-label>
          <input matInput placeholder="Dog Event" formControlName="name" required>
          <mat-error *ngIf="filterForm.get('name')?.invalid && filterForm.get('name')?.touched">
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select Type</mat-label>
          <mat-select required formControlName="type">
            <mat-option value="">Select Type</mat-option>
            <mat-option *ngFor="let type of types$ | async" [value]="type.name">
              {{ type.name }}
            </mat-option>
            <mat-error *ngIf="filterForm.get('type')?.invalid && filterForm.get('type')?.touched">
              This field is required
            </mat-error>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose a start date</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error *ngIf="filterForm.get('startDate')?.invalid && filterForm.get('startDate')?.touched">
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose an end date</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error *ngIf="filterForm.get('endDate')?.invalid && filterForm.get('endDate')?.touched">
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select Animal</mat-label>
          <mat-select formControlName="petIds" multiple>
            <mat-option *ngFor="let pet of pets$ | async" [value]="pet.id">
              {{ pet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select Breed</mat-label>
          <mat-select formControlName="breedIds" multiple>
            <mat-option *ngFor="let breed of breeds$ | async" [value]="breed.id">
              {{ breed.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select Country</mat-label>
          <mat-select formControlName="countryId" required>
            <mat-option value="">Select Country</mat-option>
            <mat-option *ngFor="let country of countries$ | async" [value]="country.id">
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="filterForm.get('countryId')?.invalid && filterForm.get('countryId')?.touched">
            This field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select City</mat-label>
          <mat-select formControlName="cityId" required>
            <mat-option value="">Select City</mat-option>
            <mat-option *ngFor="let city of cities$ | async" [value]="city.id">
              {{ city.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="filterForm.get('cityId')?.invalid && filterForm.get('cityId')?.touched">
            This field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>price</mat-label>
          <input formControlName="price" matInput type="number" class="example-right-align" placeholder="0" required />
          <span matTextPrefix>$&nbsp;</span>
          <mat-error *ngIf="filterForm.get('price')?.invalid && filterForm.get('price')?.touched">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="contact-row">
      <mat-form-field class="full-width">
        <mat-label>Location</mat-label>
        <input matInput placeholder="location" formControlName="location" required>
        <mat-error *ngIf="filterForm.get('location')?.invalid && filterForm.get('location')?.touched">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="gmail" required>
        <mat-error *ngIf="filterForm.get('gmail')?.invalid && filterForm.get('gmail')?.touched">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="phone" formControlName="contact_number" required>
        <mat-error *ngIf="filterForm.get('phone')?.invalid && filterForm.get('phone')?.touched">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="info-plan">
      <mat-form-field class="full-width">
        <input matInput placeholder="info" formControlName="info" required>
      <mat-error *ngIf="filterForm.get('info')?.invalid && filterForm.get('info')?.touched">
        This field is required
      </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="plan">
      </mat-form-field>
    </div>

    <!-- Buttons -->
    <div class="button-row">
      <button type="submit" mat-raised-button color="primary" class="create">Create</button>
      <button mat-raised-button color="warn" class="cancel">Cancel</button>
    </div>
  </mat-card>
  </form>
</div>

